.card_wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  .card_one {
    width: 370px;
    height: 400px;
    display: flex;
    margin-right: 20px;
    border-radius: 20px;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 20px 40px;
    background: #ffffff;
    .card_title {
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      display: flex;
      align-items: center;
      color: #1a1c1f;
    }
    .visa_wrapper {
      margin: 20px 0 25px 0;
      img {
        margin-right: 60px;
        flex-wrap: wrap;
        transition: all .3s ease-in-out;
        
          &:hover {
            transform: scale(1.1);
          }
        &:nth-child(4) {
          margin-left: 40px;
        }
        &:nth-child(6) {
          margin-right: 40px;
        }
      }
    }
    .debit_card {
      width: 217.99px;
      height: 141.96px;
      transition: all .3s ease-in-out;
      
        &:hover {
          transform: scale(1.1);
        }
    }
  }
  .card_two {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: 400px;
    padding: 40px 0 20px 40px;
    border-radius: 20px;
    background: #26d36b;
    .card2_title {
      font-weight: 700;
      font-size: 36px;
      line-height: 40px;
      color: #ffffff;
    }
    .user {
      margin-top: 50px;
      width: 172px;
      height: 162.71px;
      transition: all .5s ease-in-out;
  &:hover {
      transform: scale(1.1);
    }
    }
  }
}
