 .txt_wrap {
     text-align: center;

     .sm_txt {
         font-weight: 400;
         font-size: 24px;
         line-height: 32px;
         color: #707484;
     }

     .lrg_txt {
         font-weight: 700;
         font-size: 55px;
         line-height: 80px;
         color: #1A1C1F;
     }

     .xsml_txt {
         font-weight: 400;
         font-size: 18px;
         line-height: 32px;
         color: #707484;
     }
 }