.footer{
    padding: 50px 0 20px 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    .footer_wrapper {
    max-width: 900px;
    margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .one {
    width: 25%;
    img{
        margin-bottom: 26px;
    }
    p{
        font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: rgba(26, 28, 31, 0.8);
    }
  }
  .two {
    width: 20%;
  }
  .three {
    width: 20%;
  }
  .four {
    width: 25%;
  }
  .title{
    margin-bottom: 30px;
    font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #1A1C1F;
       
  }
  .sml_txt{
    font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: rgba(26, 28, 31, 0.8);
        transition: all .5s ease-in-out;
        
          &:hover {
            color: #0a0a0a;
            cursor: pointer;
        font-size: 13px;
          }
  }
}
.copyright{
  font-weight: 400;
      font-size: 10px;
      line-height: 24px;
      color: #000000;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
     
}
}