
.banner_animation{
background-color: #f2f5f7;
display: flex;
padding-top: 100px;
display: flex;
align-items: flex-start;
justify-content: space-around;
.left_img_wrap{
  animation: mySlide 3s linear 0s;
  animation-duration: 2s;
  transition: all 0.5s ease-in-out;
  
    &:hover {
      transform: scale(0.9);
    }
  .left_img{
    width: 320px;
      height: 500px;
  }
}
@keyframes mySlide{
  from{margin-left: -10%;}
  to{margin-left:1%;}
}

.right_img_wrap {
  animation: mySlide2 3s linear 0s;
  animation-duration: 2s;
  transition: all 0.5s ease-in-out;
  
    &:hover {
      transform: scale(1.2);
    }
}

@keyframes mySlide2 {
  from {
    margin-right: -10%;
  }

  to {
    margin-right: 1%;
  }
}

.banner_top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 160px 0;
  .centered_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .black_txt {
      font-weight: 700;
      font-size: 50px;
      line-height: 60px;
      text-align: center;
      letter-spacing: -0.02em;
      text-transform: capitalize;
      width: 555px;
      color: #1a1c1f;
      margin-bottom: 20px;
    }
    .grey_txt {
      font-weight: 400;
      font-size: 32px;
      line-height: 34px;
      text-align: center;
      text-transform: capitalize;
      color: #707484;
      width: 530px;
    }
    .download_btn {
      background: #1652f0;
      border-radius: 5px;
      width: 290px;
      height: 62px;
      outline: none;
      border: none;
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
      text-transform: capitalize;
      margin-top: 42px;
      color: #fff;
    }
  }
  
}


}